/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@charset "UTF-8";

/*import fonts*/
 
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Arvo:wght@400;700&family=Cookie&family=Edu+QLD+Beginner:wght@400;500;600;700&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Noto+Emoji&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
 
:root { 
     /*colours*/
    --im-red:#E81123;
    --im-orange:#FF8C00;
    --im-yellow:#FFB900;
    --im-light-yellow:#FFF100;
    --im-green:#004B1C;
    --im-light-green:#107C10;
    --im-teal:#008272;
    --im-light-blue: #0099BC;
    --im-blue:#0078D7;
    --im-indigo:#6B69D6;
    --im-purple:#5C2D91;
    --im-magenta:#B4009E;
    --im-pink:#E3008C;
    --im-brown:#847545;
    --im-black:#000000;
    --im-gray-220:#11100f;
    --im-gray-210:#161514;
    --im-gray-200:#1b1a19;
    --im-gray-190:#201f1e;
    --im-gray-180:#252423;
    --im-gray-170:#292827;
    --im-gray-160:#323130;
    --im-gray-150:#3b3a39;
    --im-gray-140:#484644;
    --im-gray-130:#605e5c;
    --im-gray-120:#797775;
    --im-gray-110:#8a8886;
    --im-gray-100:#979593;
    --im-gray-90:#a19f9d;
    --im-gray-80:#b3b0ad;
    --im-gray-70:#bebbb8;
    --im-gray-60:#c8c6c4;
    --im-gray-50:#d2d0ce;
    --im-gray-40:#e1dfdd;
    --im-gray-30:#edebe9;
    --im-gray-20:#f3f2f1;
    --im-gray-10:#faf9f8;
    --im-white:#FFFFFF;
 
     /*fonts*/
    --im-primary: 'Poppins', sans-serif;
    --im-secondary: 'Albert Sans', sans-serif;
    --im-monospace: 'JetBrains Mono', monospace;
    --im-cursive: 'Cookie', cursive;
    --im-handwrite: 'Edu QLD Beginner', cursive;
    --im-serif: 'Arvo', serif;
}

/*Topology
  ==================================================*/
.font-primary { font-family: var(--im-primary); }
.font-secondary { font-family: var(--im-secondary); }
.font-monospace { font-family: var(--im-monospace); }
.font-cursive {font-family: var(--im-cursive); }
.font-handwrite {font-family: var(--im-handwrite); }
.font-serif {font-family: var(--im-serif); }
  
/*Font Size*/

h1, h2, h3, h4, h5, h6 { margin-top: 0.5em; margin-bottom: 0.5em;}
h1 { font-size: 4.0em; font-weight: 600; line-height: 1;  letter-spacing: -.05em;}
h2 { font-size: 3.5em; font-weight: 500; line-height: 1.1; letter-spacing: -.05em; }
h3 { font-size: 3.0em; font-weight: 400; line-height: 1.2;  letter-spacing: -.05em; }
h4 { font-size: 2.5em; font-weight: 400; line-height: 1.3; letter-spacing: -.08em; }
h5 { font-size: 2.0em; font-weight: 300; line-height: 1.4;  letter-spacing: -.05em; }
h6 { font-size: 1.5em; font-weight: 300; line-height: 1.5;  letter-spacing: 0; }
  
@media (min-width: 550px) {
     h1 { font-size: 5.0em; }
     h2 { font-size: 4.2em; }
     h3 { font-size: 3.6em; }
     h4 { font-size: 3.0em; }
     h5 { font-size: 2.4em; }
     h6 { font-size: 1.5em; }
}

/*Filled Colors
  ==================================================*/
  .filled-white { color: var(--im-black); background-color: var(--im-gray-40); }
  .filled-red { background-color: var(--im-red); }
  .filled-orange { background-color: var(--im-orange); }
  .filled-yellow { background-color: var(--im-yellow); }
  .filled-green { background-color: var(--im-green); }
  .filled-teal { background-color: var(--im-teal); }
  .filled-blue { background-color: var(--im-blue); }
  .filled-indigo { background-color: var(--im-indigo); }
  .filled-purple { background-color: var(--im-purple); }
  .filled-pink { background-color: var(--im-pink); }
  .filled-magenta { background-color: var(--im-magenta); }
  .filled-brown { background-color: var(--im-brown); }

/*Header
  ==================================================*/
.fixed-header{
     width: 100%;
     position: fixed;        
     top: 0;
     margin-top: 1em;
     margin-bottom: 1em;
}

/*BaseStyle
  ==================================================*/
.body{
     margin-left: 4em;
     margin-right: 4em;
     color: var(--im-white);
     background-color: var(--im-gray-200); 
     font-family: var(--im-primary);
     word-wrap: normal;
}

.body-margin-none{ margin-left: 0em; margin-right: 0em;}
.body-margin-xxs{ margin-left: 1em; margin-right: 1em;}
.body-margin-xs{ margin-left: 2em; margin-right: 2em;}
.body-margin-s{ margin-left: 2em; margin-right: 2em;}
.body-margin-m{ margin-left: 6em; margin-right: 6em;}
.body-margin-l{ margin-left: 8em; margin-right: 8em;}
.body-margin-xl{ margin-left: 10em; margin-right: 10em;}
.body-margin-xxl{ margin-left: 12em; margin-right: 12em;}

::selection, ::-moz-selection { background: var(--im-teal);}
 
/*Code
  ==================================================*/
code, 
kbd{
     padding: 0.12em; 
     border-radius: 0.15em;
     font-family: var(--im-monospace);
     font-size: 0.875em;
}
 
code{ background-color: var(--im-gray-160);}
kbd{ background-color: var(--im-teal);}

/*Button
  ==================================================*/
 
button, 
.dropdown,
input,
textarea {
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     color: var(--im-white);
     background-color: var(--im-teal);
     border: transparent;
     border-radius: 0.2em;
     color: white;
     padding: 0.5em 2.5em;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-family: var(--im-primary);
     font-size: 1em; 
}

input, textarea {
     text-align: left;
     background-color: var(--im-gray-180); 
}

input:focus, textarea:focus{
     border: 0.12em solid var(--im-teal);
     outline: 0; 
}

.dropdown-content {
     display: none;
     position: absolute;
     border-radius: 0.2em;
     color: var(--im-white);
     background-color: var(--im-gray-160);
     min-width: 160px;
     transition: all .2s; 
}
 
.dropdown:hover .dropdown-content { display: block; }
 
.button-hover:hover,
.dropdown-hover:hover { filter: var(--im-hover); }

/*Navigation Bar
  ==================================================*/
.navbar {
     border-radius: 0.2em;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden; 
}
 
.navbar li { 
     float: left; 
     border-radius: 0.2em; 
}
   
.navbar li a {
     display: block;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none; 
}

/*Menu
  ==================================================*/

.menu {
     border-radius: 0.2em;
     list-style-type: none;
     margin-top: 1em;
     margin-bottom: 1em;
     padding: 0;
     overflow: hidden; 
     width:16em;
}

.menu li { 
     float: top; 
     border-radius: 0.2em; 
}
   
.menu li a {
     display: block;
     text-align: center;
     padding: 6px;
     text-decoration: none; 
}

.navbar, .menu, input { background-color: var(--im-gray-180); transition: all .2s; }
.navbar:hover, .menu:hover, input:hover { background-color: var(--im-gray-160); transition: all .2s; }
 
.navbar li:hover, .menu li:hover { background-color: var(--im-gray-140); transition: all .2s; }
.menu li:hover { border-right: 0.3em solid var(--im-teal); transition: all 0s; }
.navbar li a, .menu li a { color: var(--im-white); }
 
/*Animations*/
.hover { filter: var(--im-hover); }
 
.fade { opacity: 0; transition: all .2s; }
.fade:hover { opacity: 1; transition: all .2s; }
 
.fade-slow { transition: all 1s; }
.fade-slow:hover { transition: all 1s; }

.expand { transition: all .2s; }
.expand:hover { padding: 1em 4em; transition: all .2s; }
.expand-fast:hover { transition: all .1s; }
.expand-slow:hover { transition: all 1s; }
.expand-vert:hover { padding: 1em 2em; }
.expand-hori:hover { padding: 0.5em 4em; }
 
.expand-navbar { transition: all .2s; }
.expand-navbar:hover { padding: 0.5em 2em; }
.expand-navbar-hori:hover { padding: 0em 2em; }
.expand-navbar-vert:hover { padding: 0.5em 0em; }
 
.expand-l { transition: all .2s; }
.expand-l:hover { padding: 2em 8em; }
.expand-l-vert:hover { padding: 2em 8em; }
.expand-l-hori:hover { padding: 3.6em 2em; }
 
.expand-s { transition: all .2s; }
.expand-s:hover { padding: 0.5em 2em; }
.expand-s-vert:hover { padding: 0.5em 2em; }
.expand-s-hori:hover { padding: 2em 5em; }
 
.zoom { transform: scale(1); transition: all .2s; }

.zoom:hover, .zoom-in:hover { transition: all .2s; }
.zoom-in-xl:hover { transform: scale(3); transition: all .2s; }
.zoom-in-l:hover { transform: scale(2); transition: all .2s; }
.zoom-in-m:hover { transform: scale(1.5); transition: all .2s; }
.zoom-in-s:hover { transform: scale(1.25); transition: all .2s; }
.zoom-in-xs:hover { transform: scale(1.1); transition: all .2s; }

.zoom:hover, .zoom-out:hover { transition: all .2s; }
.zoom-out-xl:hover { transform: scale(0.1); transition: all .2s; }
.zoom-out-l:hover { transform: scale(0.2); transition: all .2s; }
.zoom-out-m:hover { transform: scale(0.5); transition: all .2s; }
.zoom-out-s:hover { transform: scale(0.75); transition: all .2s; }
.zoom-out-xs:hover { transform: scale(0.9); transition: all .2s; }
 
/*Border Radius*/

.round-full{ border-radius: 1em; }
.round-xl{ border-radius: 0.75em; }
.round-l{ border-radius: 0.5em; }
.round-m{ border-radius: 0.2em; }
.round-s{ border-radius: 0.1em; }
.round-xs{ border-radius: 0.05em; }
.rectangle{ border-radius: 0em; }
 
/*List*/
 
ul { list-style: circle inside; }
ol { list-style: decimal inside; }
ol, ul { padding-left: 0; margin-top: 0; }
 
/*Table*/
.table {
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     font-family: var(--im-primary);
     border-collapse: collapse; }
 
.table-full { width: 100%; }
   
td, th {
     border-top: 0.06em solid var(--im-white);
     margin: 1em;
     padding: 0.5em;
}
   
tr:hover { filter: var(--im-hover); }
 
th {
     padding-top: 0.75em;
     padding-bottom: 0.75em;
     text-align: left;
}
 
/*Sepration Line*/
 
hr {
     margin-top: 0em;
     margin-bottom: 2em;
     border-width: 0em;
     border-top: 0.06em solid var(--im-white);
}
 
.hr-light { border-top: 0.03em solid; }
.hr-bold { border-top: 0.12em solid; }

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}